---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="O mnie"
	description="O mnie"
	pubDate={new Date('August 23 2023')}
	heroImage="/malwinaportret3.JPG"
>
	<p>




Cześć. 

Mam na imię Malwina. Piszę wiersze od dziecka. Kiedy piszę, czuję, że jestem w kontakcie ze sobą. To dla mnie jak medytacja, pływanie, jazda na rowerze – relaks od tenisówek po fryzurę na cebulę. 

Jestem mamą trójki dzieci: Hani (9), Zosi (7) i Jasia (1). Na co dzień prowadzę edukację domową córek, opiekuję się małym odkrywcą oraz robię wszystko to, co pozwala przetrwać pięcioosobowej rodzinie od poniedziałku do niedzieli. 

Od niedawna prowadzę blog osobisty, w którym publikuję swoje wiersze. 

Znajdziesz tu sekcję poezji dla kobiet pragnących oderwać się na chwilę od rzeczywistości i zanurzyć się na chwilę do świata, w którym przy kubku herbaty  uniesiesz się lekko nad ziemią. 
Czasem przyjaciółka poklepie Cię lekko po ramieniu i powtórzy za Tobą, jaki miałaś cieżki dzień,  czasem rozkmini z Tobą coś, co od dawna nie dawało spokoju, a czasem rozpakuje dzisiejszego wkurwa. 
Jest to manifest współczesnej kobiety. Krąży w nim energia kobiecych kręgów, wsparcia i siły, którą dostałam od kobiet ostatnimi laty i chciałam się nią podzielić. 

Znajdziesz tu również sekcję wierszy dla dzieci. 

Pierwsza część: PTAKI jest skierowana głównie do młodszych dzieci i mam nadzieję, że zamieni się kiedyś w książeczkę sensoryczną z zakresu edukacji przyrodniczej. 

Druga część: LEKKOSTRAWNA POEZJA DLA DWOJGA to zbiór wierszy dla mamy i dziecka, który mam nadzieję również zamieni się w wydanie papierowe. 
Znajdziesz tam wiersze o dziecięcej odwadze, emocjach i marzeniach, a dla mamy: przetrwalnik i wspieraciel dnia codziennego.  

 
	</p>

	<p>
		Więcej o mnie...
	</p>

</Layout>
