---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="O mnie"
	description="O mnie"
	pubDate={new Date('August 23 2023')}
	heroImage="/malwinaportret2.JPG"
>
	<p>
		Piszę wiersze, jestem niezła!
	</p>

	<p>
		Więcej o mnie...
	</p>

</Layout>
